@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #020617; /* Slate 950 */
}

@layer components {
  .btn-icon {
    @apply p-2 bg-slate-700 rounded-lg hover:bg-slate-600 text-slate-200 transition-colors;
  }
}